@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-karla text-base;
  }

  h1,
  h2,
  h3{
    @apply font-barlowCondensed font-bold;
  }

  h1 {
    @apply text-[38px] leading-[38px] md:text-[44px] lg:text-[48px] lg:leading-[38px];
  }
  h2 {
    @apply text-[32px] leading-[32px] md:text-[36px] lg:text-[40px] lg:leading-[32px];
  }
  h3 {
    @apply text-[24px] leading-[26px] md:text-[26px] lg:text-[32px] lg:leading-[24px];
  }
  h4 {
    @apply font-bold text-[20px] leading-[38px] md:text-[22px] lg:text-[20px];
  }
}

@layer components {
  /* BUTTON */
  .btn {
    @apply flex items-center justify-center gap-2 rounded font-medium transition-all duration-150 disabled:cursor-not-allowed;
  }

  .btn.filled {
    @apply px-4 py-1 md:py-[0.3rem] h-[32px] md:h-[40px] text-white shadow-sm hover:shadow-sm focus:shadow-sm focus:outline-none focus:ring-0 active:shadow-sm;
  }

  .btn.outlined {
    @apply px-4 py-1 md:py-[0.3rem] h-[32px] md:h-[40px] shadow-sm;
  }

  .btn.filled.primary {
    @apply bg-orange-600 hover:bg-orange-700 active:bg-orange-800 disabled:bg-opacity-[64%] disabled:hover:bg-orange-600 disabled:hover:bg-opacity-[64%];
  }

  .btn.filled.success {
    @apply bg-orange-600 hover:bg-orange-700 active:bg-orange-800 disabled:bg-opacity-[64%] disabled:hover:bg-green-600 disabled:hover:bg-opacity-[64%];
  }

  .btn.filled.informative {
    @apply bg-blue-600 hover:bg-blue-700 active:bg-blue-800 disabled:bg-opacity-[64%] disabled:hover:bg-blue-600 disabled:hover:bg-opacity-[64%];
  }

  .btn.filled.danger {
    @apply bg-red-600 hover:bg-red-700 active:bg-red-800 disabled:bg-opacity-[64%] disabled:hover:bg-red-600 disabled:hover:bg-opacity-[64%];
  }


  .btn.outlined.primary {
    @apply border border-orange-600 text-orange-600 outline-none hover:bg-orange-50 focus:ring-transparent focus-visible:outline-none focus-visible:ring-transparent active:border-orange-700 active:text-orange-700;
  }

  .btn.outlined.success {
    @apply border border-green-600 text-green-600 outline-none hover:bg-green-50 focus:ring-transparent focus-visible:outline-none focus-visible:ring-transparent active:border-green-700 active:text-green-700;
   }

  .btn.outlined.informative {
    @apply border border-blue-600 text-blue-600 outline-none hover:bg-blue-50 focus:ring-transparent focus-visible:outline-none focus-visible:ring-transparent active:border-blue-700 active:text-blue-700;
  }

  .btn.outlined.danger {
    @apply border border-red-600 text-red-600 outline-none hover:bg-red-50 focus:ring-transparent focus-visible:outline-none focus-visible:ring-transparent active:border-red-700 active:text-red-700;
  }

  .btn.outlined.neutral {
    @apply border border-neutral-500 text-neutral-900 outline-none hover:bg-neutral-100 focus:ring-transparent focus-visible:outline-none focus-visible:ring-transparent active:border-neutral-700 ;
  }


  .btn.text.primary {
    @apply text-orange-600 outline-none hover:text-orange-700 focus:ring-transparent focus-visible:outline-none focus-visible:ring-transparent active:text-orange-800;
  }

  .btn.text.success {
    @apply text-green-600 outline-none hover:text-green-700 focus:ring-transparent focus-visible:outline-none focus-visible:ring-transparent active:text-green-800;
  }

  .btn.text.informative {
    @apply text-blue-600 outline-none hover:text-blue-700 focus:ring-transparent focus-visible:outline-none focus-visible:ring-transparent active:text-blue-800;
  }

  .btn.text.danger {
    @apply text-red-600 outline-none hover:text-red-700 focus:ring-transparent focus-visible:outline-none focus-visible:ring-transparent active:text-red-800;
  }

  .btn.text.neutral {
    @apply text-neutral-600 outline-none hover:text-neutral-700 focus:ring-transparent focus-visible:outline-none focus-visible:ring-transparent active:text-neutral-800;
  } 

  /* INPUT */
  .input-default {
    @apply w-full py-2 rounded text-sm border border-neutral-500 text-gray-800 placeholder:text-neutral-800 focus:ring-1 focus:ring-inset focus:ring-orange-600 focus:border-transparent disabled:bg-neutral-100 disabled:border-neutral-300 disabled:text-neutral-300 disabled:cursor-not-allowed;
  }

  .input-error {
    @apply w-full py-2 rounded text-sm border border-red-600 bg-red-50 text-red-600 ring-red-600 placeholder:text-red-600 focus:ring-1 focus:ring-inset focus:ring-red-600 focus:border-transparent disabled:bg-neutral-100 disabled:border-neutral-300 disabled:text-neutral-300 disabled:cursor-not-allowed;
  }

    .progress {
      animation: progress 1s infinite linear;
    }
  
    .left-right {
      transform-origin: 0% 50%;
    }
  
    @keyframes progress {
      0% {
        transform: translateX(0) scaleX(0);
      }
  
      40% {
        transform: translateX(0) scaleX(0.4);
      }
  
      100% {
        transform: translateX(100%) scaleX(0.5);
      }
    }
}
